* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/* Ejemplo de declaración de una variable para todo el documento CSS (comienza con -- */
:root {
  --main-color: #c9c935;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #555555;
  margin: 0px;
  text-align: center;
  min-width: 1290px;
}

body a {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3rem;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: unset;
}

li {
  display: block;
  font-size: 1.1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}

.loader img {
  width: 150PX;
  position: absolute;
  top: 50%;
}

.container {
  background-color: #555555;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  height: auto;
  width: 80%;
  min-width: 1200px;
  max-width: 1300px;
}

.container-nav {
  background-color: #555555;
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  top: 0px;
  padding: 10px;
  z-index: 100;
}

.container-nav nav div {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3rem;
  display: inline-block;
  padding: 20px;
  width: 18%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  min-width: 1250px;
  width: 100%;
}

.nav-item {
  border-radius: 5px;
  max-height: 100px;
  cursor: pointer;
  max-height: 80px;
}

.nav-item:hover {
  box-shadow: 2px 2px 7px 1px var(--main-color);
  transition: all 0.5s linear;
}

.header-cv {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: rgb(41, 37, 37);
  text-align: center;
}

.body-cv {
  height: 1140px;
  background-color: #fafaf8;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
}

.body-right {
  width: 64%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 0% 6% 0% 3%;
}

.skills {
  width: 60%;
  height: 35%;
  padding-right: 5%;
}

.skill {
  /* border: 1px solid black; */
  height: 70px;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.skill h4, h5 {
  margin: 8px 5% 8px 2%;
}

#skill-left {
  text-align: left;
  width: 50%;
  height: 40%;
}

#skill-right {
  text-align: right;
  width: 50%;
  height: 40%;
}

#skill-full {
  width: 100%;
  height: 12%;
  background-color: #555555;
  margin: 0px 2.5% 0 0.5%;
}

#skill-percent {
  width: 90%;
  height: 12%;
  background-color: var(--main-color);
  margin: 0px 2.5% 0 0.5%;
}

.languages {
  width: 40%;
  height: 35%;
}

.language {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.language h1, h2 {
  font-size: 1.2rem;
  margin: 8px 5% 8px 2%;
  font-weight: 400;
}

.language #language-percent {
  height: 100%;
  width: 42%;
}
 
.language #language-desc {
  width: 75%;
}

.language #percent {
  color: var(--main-color);
}

#language-percent h1, #language-desc h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.experience {
  width: 100%;
  height: 65%;
}

.job {
  height: 125px;
  display: flex;
}

.job h4, h5 {
  margin: 8px 0 8px 5% !important; 
  font-size: large;
}

.job #enterprise {
  color: var(--main-color);
}

.job-left {
  width: 100%;
  text-align: right;
}

.job-right {
  text-align: justify;
}

.side-cv {
  height: 1260px;
  min-width: 340px;
  overflow-y: auto;
  background-color: #a59b9b;
  width: 28%;
  position: absolute;
  z-index: 5;
  top: 3%;
  left: 6%;
}

.side-cv h2 {
  text-decoration: underline;
  font-size: 1.5rem;
}

.contact-side-cv {
  height: 30%;
}
.about-side-cv {
  height: 30%;
}
.education-side-cv {
  height: 35%;
}

.side-cv-block {
  height: 110px;
  text-align: left;
  position: relative;
  padding-left: 5%;
}

.block-about{
  height: 176px;
  text-align: left;
}

.block-about h3 {
  font-size: larger;
  padding-left: 5%;
  margin-top: 1%;
}

.block-about i {
  padding-left: 5%;
  zoom: 1.5;
  position: relative;
  top: 6%;
}

.social-back {
  display: inline-block;
  border: 3px solid var(--main-color);
  width: 35px;
  height: 35px;
  margin-left: 5%;
  margin-top: -10px; 
}

.about {
  text-align: justify;
  margin: 5%;
}

.block-education {
  text-align: left;
  height: 90px;
  margin-top: 5%;
}

.block-education h4, h5, h6 {
  margin: 8px 5% 8px 5%;
}

.block-education h4 {
  font-size: 1.2rem;
}

.block-education h5 {
  font-size: 1.1rem;
}

.block-education h6 {
  font-size: 1.0rem;
}

.main-cv {
  color: #f5f5e6;
  text-align: left;
  position: absolute;
  display: inline-block;
  margin-left: 5%;
  margin-top: 15px;
  width: 40%;
  height: inherit;
  left: 34%;
}

.container-avatar {
  width: 180px;
  height: 180px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--main-color);
}

.avatar {
  padding: 10px;
  position: absolute;
  height: inherit;
  width: 30%;
  display: inline-block;
  right: 0%;
}

.avatar img {
  border: 5px solid var(--main-color);
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.last-name {
  color: var(--main-color);
}

.boton{
  width: 60px;
  background-color: #f63d68;
  display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 2;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0,0,0,0);
  border: 2px solid rgba(0,0,0,0);
  height: 36px;
  padding: 0 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.arrow-button {
  position: fixed;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--main-color);
  color: #000000;
  top: calc(82vh + 100px);
  pointer-events: all;
  right: 50px;
  border: none;
  border-radius: 30px;
  height: 36px;
  cursor: pointer;
  z-index: 10;
  -webkit-animation: popup .9s ease-in-out;
  animation: popup .9s ease-in-out;
} 
